*{
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}
.cardTop{
    position: relative;
    right: 15px;
}
label{
    font-size: 13px;
}
.password, .username{    
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    padding-inline-start: 5px;
    margin-bottom: 15px;
    font-size: 13px;
}
#btn-entrar{
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #482D83;
    color: white;
    width: 250px;
}