*{
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}
.cardTop{
    position: relative;
    right: 15px;
}
label{
    font-size: 13px;
}
.password, .username{    
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    padding-inline-start: 5px;
    margin-bottom: 15px;
    font-size: 13px;
}
#btn-entrar{
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #482D83;
    color: white;
    width: 250px;
}
/* sideBarMentorClass */
.mentorTxt{
    display: inline-flex;
    margin: 20px;
}
#fTxt{
    color: #FBB04D;
} 
#sTxt{
    color: white;
}
.sideMentor{
    position: fixed;
    font-family:Arial, sans-serif;
    font-size: 12px;
    float: left;
    width: 30vh;
    height: 100vh;
    text-align: center;
    background: #482D83;
}
.sideMenu{
    text-align: justify;
    margin-left: 25px;
}
.sideMenu div{
    color: white;
    font-size: 16px;
    /* border: 1px solid; */
    padding: 12px;
}